.nav {
  align-items: center;
  display: flex;
  height: 16vh;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  width: 100%;
  z-index: 100; }
  @media only screen and (max-width: 44em) {
    .nav {
      background-color: #fff;
      justify-content: space-between; } }
  .nav__logo {
    align-items: center;
    backface-visibility: hidden;
    background-color: #c90a0a;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 8rem;
    justify-content: center;
    margin: 1rem 4%;
    text-decoration: none;
    transition: all 0.3s;
    width: 8rem;
    z-index: 101; }
    .nav__logo:hover {
      transform: rotate(4deg); }
    .nav__logo:active {
      transform: scale(0.97); }
    .nav__logo--letters {
      font-family: "Arvo";
      font-size: 1.6rem;
      text-align: center; }
  .nav__links {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    list-style: none;
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s, transform 0s, height 0.3s, background-color 0s; }
    @media only screen and (max-width: 44em) {
      .nav__links {
        background-color: #fff;
        display: flex;
        height: 0;
        opacity: 0;
        position: absolute;
        top: calc(16vh - 0.1vh);
        visibility: invisible;
        width: 100%; } }
    @media only screen and (max-width: 35em) {
      .nav__links {
        font-size: 2rem; } }
    .nav__links--element {
      color: #fff;
      cursor: pointer;
      font-weight: 600;
      margin: 1.8rem;
      text-decoration: none;
      transition: all 0.2s;
      width: auto; }
      @media only screen and (max-width: 44em) {
        .nav__links--element {
          color: #c90a0a; } }
      .nav__links--element:hover {
        color: #c90a0a; }
      .nav__links--element i {
        font-size: 1.2rem; }
        @media only screen and (max-width: 35em) {
          .nav__links--element i {
            font-size: 1.7rem; } }
  .nav__hamburger {
    display: none; }
    @media only screen and (max-width: 44em) {
      .nav__hamburger {
        align-items: center;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        height: 8rem;
        justify-content: center;
        margin-right: 4%;
        width: 8rem; }
        .nav__hamburger--top, .nav__hamburger--mid, .nav__hamburger--bot {
          width: 5.5rem;
          height: 1rem;
          background-color: #c90a0a;
          border-radius: 4rem;
          transition: all .4s; }
        .nav__hamburger--top {
          transform: translateY(-0.6rem); }
        .nav__hamburger--bot {
          transform: translateY(0.6rem); } }

.header {
  height: 105vh;
  position: relative;
  width: 100%; }
  .header__img {
    background-image: url("../images/house.webp");
    background-position: center;
    background-size: cover;
    filter: brightness(35%);
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    width: 100%; }
    @media only screen and (max-width: 44em) {
      .header__img {
        background-position: top; } }
  .header__info {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 57%;
    transform: translate(-50%, -50%);
    width: 80%; }
    .header__info span {
      color: #c90a0a; }
    .header__info--title {
      font-size: 7rem;
      margin-bottom: 3rem;
      text-align: center;
      text-transform: uppercase; }
    .header__info--summary {
      font-size: 2.6rem;
      font-weight: 400;
      margin-bottom: 3rem; }
    .header__info .button {
      border: 3px solid #c90a0a;
      border-radius: 4rem;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      padding: 2rem 3rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s; }
      .header__info .button:hover {
        background-color: #c90a0a; }

.aboutus {
  align-items: center;
  background-color: #c90a0a;
  display: flex;
  justify-content: space-around;
  padding: 8rem 0 8rem 0; }
  .aboutus__image {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%; }
  .aboutus img {
    height: 25rem;
    width: 25rem; }
  .aboutus__text {
    color: #fff;
    margin: 8rem;
    width: 50%; }
  .aboutus__title {
    font-size: 6rem;
    margin-bottom: 2rem; }
  .aboutus__description {
    font-size: 2rem;
    line-height: 2.8rem; }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  background-color: #262626; }
  .contact__title {
    font-size: 6rem;
    margin: 4rem 0 1.5rem 0;
    color: #fff; }
  .contact__text {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #fff; }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%; }
    @media only screen and (max-width: 55em) {
      .contact__form {
        width: 50%; } }
  .contact__form * {
    margin: 1rem;
    padding: 0.8rem;
    width: 100%; }
  .contact input[type=submit] {
    width: 40%;
    padding: 1rem 0 1rem 0;
    border-radius: 2rem;
    background-color: #c90a0a;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    transition: all 0.2s; }
    .contact input[type=submit]:hover {
      background-color: #fff;
      color: #c90a0a; }
    .contact input[type=submit]:active {
      transform: scale(0.98); }

.findus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 6rem 8rem 6rem;
  background-color: #c90a0a; }
  @media only screen and (max-width: 44em) {
    .findus {
      flex-direction: column; } }
  .findus__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 40%;
    height: 50rem;
    padding-bottom: 4rem; }
    @media only screen and (max-width: 44em) {
      .findus__text {
        width: 75%; } }
    .findus__text--title {
      font-size: 6rem;
      padding-bottom: 5rem; }
      @media only screen and (max-width: 44em) {
        .findus__text--title {
          text-align: center; } }
    .findus__text--description {
      font-size: 2rem; }
      .findus__text--description ul {
        padding-left: 4rem; }
  .findus__map {
    height: 45rem;
    width: 50rem; }

.footer {
  background-color: #262626;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; }
  @media only screen and (max-width: 55em) {
    .footer {
      height: 20vh; } }
  @media only screen and (max-width: 44em) {
    .footer {
      height: 15vh; } }
  @media only screen and (max-width: 35em) {
    .footer {
      height: 10vh; } }
  .footer p {
    font-size: 1.6rem; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Lato"; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 55em) {
    html {
      font-size: 42.5%; } }
  @media only screen and (max-width: 35em) {
    html {
      font-size: 35%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 25%; } }

.whiteBackground {
  background-color: #fff; }

.redText {
  color: #c90a0a; }

.whiteText {
  color: #fff; }

.navAnimationTop {
  transform: rotate(-45deg) translate(-1.375rem); }

.navAnimationMid {
  opacity: 0; }

.navAnimationBot {
  transform: rotate(45deg) translate(-1.375rem); }

.visible {
  height: 10vh;
  opacity: 1;
  visibility: visible; }

.invisibleElement {
  display: none; }
