* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Lato"; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 55em) {
    html {
      font-size: 42.5%; } }
  @media only screen and (max-width: 35em) {
    html {
      font-size: 35%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 25%; } }

.nav {
  align-items: center;
  display: flex;
  height: 14vh;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  width: 100%;
  z-index: 100; }
  @media only screen and (max-width: 44em) {
    .nav {
      background-color: #fff;
      justify-content: space-between; } }
  .nav__logo {
    align-items: center;
    backface-visibility: hidden;
    background-color: #c90a0a;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 8rem;
    justify-content: center;
    margin: 1rem 4%;
    text-decoration: none;
    transition: all 0.3s;
    width: 8rem;
    z-index: 101; }
    .nav__logo:hover {
      transform: rotate(4deg); }
    .nav__logo:active {
      transform: scale(0.97); }
    .nav__logo--letters {
      font-family: "Arvo";
      font-size: 1.6rem;
      text-align: center; }
  .nav__links {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    list-style: none;
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s, transform 0s, height 0.3s, background-color 0s; }
    @media only screen and (max-width: 44em) {
      .nav__links {
        background-color: #fff;
        display: flex;
        height: 0;
        opacity: 0;
        position: absolute;
        top: 14vh;
        visibility: invisible;
        width: 100%; } }
    @media only screen and (max-width: 35em) {
      .nav__links {
        font-size: 2rem; } }
    .nav__links--element {
      color: #fff;
      cursor: pointer;
      font-weight: 600;
      margin: 1.8rem;
      text-decoration: none;
      transition: all 0.2s;
      width: auto; }
      @media only screen and (max-width: 44em) {
        .nav__links--element {
          color: #c90a0a; } }
      .nav__links--element:hover {
        color: #c90a0a; }
      .nav__links--element i {
        font-size: 1.2rem; }
        @media only screen and (max-width: 35em) {
          .nav__links--element i {
            font-size: 1.7rem; } }
  .nav__hamburger {
    display: none; }
    @media only screen and (max-width: 44em) {
      .nav__hamburger {
        align-items: center;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        height: 8rem;
        justify-content: center;
        margin-right: 4%;
        width: 8rem; }
        .nav__hamburger--top, .nav__hamburger--mid, .nav__hamburger--bot {
          width: 5.5rem;
          height: 1rem;
          background-color: #c90a0a;
          border-radius: 4rem;
          transition: all .4s; }
        .nav__hamburger--top {
          transform: translateY(-0.6rem); }
        .nav__hamburger--bot {
          transform: translateY(0.6rem); } }

.header {
  height: 105vh;
  position: relative;
  width: 100%; }
  .header__img {
    background-image: url("../images/house.webp");
    background-position: center;
    background-size: cover;
    filter: brightness(35%);
    height: 100%;
    object-fit: contain;
    width: 100%; }
  .header__info {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 57%;
    transform: translate(-50%, -50%);
    width: 80%; }
    .header__info span {
      color: #c90a0a; }
    .header__info--title {
      font-size: 7rem;
      margin-bottom: 3rem;
      text-align: center;
      text-transform: uppercase; }
    .header__info--summary {
      font-size: 2.6rem;
      font-weight: 400;
      margin-bottom: 3rem; }
    .header__info .button {
      border: 3px solid #c90a0a;
      border-radius: 4rem;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      padding: 2rem 3rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s; }
      .header__info .button:hover {
        background-color: #c90a0a; }

.aboutus {
  height: 100vh;
  background-color: #c90a0a; }

.whiteBackground {
  background-color: #fff; }

.redText {
  color: #c90a0a; }

.highlightText {
  color: #ff2e2e; }

.whiteText {
  color: #fff; }

.navAnimationTop {
  transform: rotate(-45deg) translate(-1.375rem); }

.navAnimationMid {
  opacity: 0; }

.navAnimationBot {
  transform: rotate(45deg) translate(-1.375rem); }

.visible {
  height: 10vh;
  opacity: 1;
  visibility: visible; }

.invisibleElement {
  display: none; }
