.findus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 6rem 8rem 6rem;
    background-color: $color-primary;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-white;
        width: 40%;
        height: 50rem;
        padding-bottom: 4rem;

        @media only screen and (max-width: $bp-medium) {
            width: 75%;
        }

        &--title {
            font-size: 6rem;
            padding-bottom: 5rem;

            @media only screen and (max-width: $bp-medium) {
                text-align: center;
            }
        }

        &--description {
            font-size: 2rem;

            ul {
                padding-left: 4rem;
            }
        }
    }

    

    &__map {
        height: 45rem;
        width: 50rem;
    }
}