.findus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 6rem 8rem 6rem;
    height: 100vh;
    background-color: $color-primary;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-white;
        width: 40%;
        height: 50rem;

        &--title {
            font-size: 6rem;
            padding-bottom: 5rem;
        }

        &--description {
            font-size: 2rem;

            ul {
                padding-left: 4rem;
            }
        }
    }

    

    &__map {
        height: 50rem;
        width: 60rem;
        
    }
}