//HEADER
.header {
    height: 105vh;
    position: relative;
    width: 100%;

    &__img {
        background-image: url("../images/house.webp");
        background-position: center;
        background-size: cover;
        filter: brightness(35%);
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        width: 100%;

        @media only screen and (max-width: $bp-medium){
            // For some reason this works for mobile, but center does not
            background-position: top;
        }
    }

    &__info {
        align-items: center;
        color: $color-white;
        display: flex;
        flex-direction: column;
        left: 50%;
        position: absolute;
        top: 57%;
        transform: translate(-50%, -50%);
        width: 80%;

        span {
            color: $color-primary;
        }

        &--title {
            font-size: 7rem;
            margin-bottom: 3rem;
            text-align: center;
            text-transform: uppercase;
        }

        &--summary {
            font-size: 2.6rem;
            font-weight: 400;
            margin-bottom: 3rem;
        }

        .button {
            border: 3px solid $color-primary;
            border-radius: 4rem;
            color: $color-white;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            padding: 2rem 3rem;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.2s;

            &:hover {
                background-color: $color-primary;
            }
        }
    }
}