@import "variables";
@import "mixins";
@import "navigation";
@import "header";
@import "aboutus";
@import "contact";

//SETUP
* {
	margin: 0;
	padding: 0;
}

html {
    box-sizing: border-box;
	font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Lato";

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 42.5%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 35%;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 25%;
    }
}

.map-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem;
    height: 100vh;
    background-color: $color-primary;
}

#map {
    height: 50rem;
    width: 50rem;
}



.whiteBackground { background-color: $color-white; }
.redText { color: $color-primary; }
.whiteText { color: $color-white; }
.navAnimationTop{ transform: rotate(-45deg) translate(-1.375rem); }
.navAnimationMid { opacity: 0; }
.navAnimationBot { transform: rotate(45deg) translate(-1.375rem); }
.visible { 
    height: 10vh;
    opacity: 1;
    visibility: visible;
}
.invisibleElement {
    display: none;
}