@import "variables";
@import "mixins";

//SETUP
* {
	margin: 0;
	padding: 0;
}

html {
    box-sizing: border-box;
	font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Lato";

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 42.5%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 35%;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 25%;
    }
}





//NAVIGATION
.nav {
    align-items: center;
    display: flex;
    height: $nav-height;
    position: fixed;
    top: 0;
    transition: all 0.2s;
    width: 100%;
    z-index: 100;

    @media only screen and (max-width: $bp-medium) {
        background-color: $color-white; 
        justify-content: space-between;
    }
    
    &__logo {
        align-items: center;
        backface-visibility: hidden;
        background-color: $color-primary;
        border-radius: 50%;
        color: $color-white;
        cursor: pointer;
        display: flex;
        height: $logo-hamburger-size;
        justify-content: center;
        margin: 1rem 4%;
        text-decoration: none;
        transition: all 0.3s;
        width: $logo-hamburger-size;
        z-index: 101;

        &:hover {
            transform: rotate(4deg);
        }

        &:active {
            transform: scale(.97);
        }

        &--letters {
            font-family: "Arvo";
            font-size: 1.6rem;
            text-align: center;
        }
    }

    &__links {
        align-items: center;
        display: flex;
        font-size: 1.4rem;
        justify-content: space-between;
        list-style: none;
        position: relative;
        text-transform: uppercase;
        transition: all 0.2s, transform 0s, height 0.3s, background-color 0s;

        @media only screen and (max-width: $bp-medium) {
            background-color: $color-white;
            display: flex;
            height: 0;
            opacity: 0;
            position: absolute;
            top: calc(#{$nav-height} - 0.1vh);
            visibility: invisible;
            width: 100%;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        }

        &--element {
            color: $color-white;
            cursor: pointer;
            font-weight: 600;
            margin: 1.8rem;
            text-decoration: none;
            transition: all 0.2s;
            width: auto;

            @media only screen and (max-width: $bp-medium) {
                color: $color-primary;
            }

            &:hover {
                color: $color-primary;
            }

            i {
                font-size: 1.2rem;

                @media only screen and (max-width: $bp-small) {
                    font-size: 1.7rem;
                }
            }
        }
    }

    &__hamburger {
        display: none;

        @media only screen and (max-width: $bp-medium) {
            align-items: center;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            height: $logo-hamburger-size;
            justify-content: center;
            margin-right: 4%;
            width: $logo-hamburger-size;

            &--top,
            &--mid,
            &--bot {
                @include hamburger;
                transition: all .4s;
            }

            &--top { transform: translateY(-.6rem); }
            &--bot { transform: translateY(.6rem); }
        }
    }
}





//HEADER
.header {
    height: 105vh;
    position: relative;
    width: 100%;

    &__img {
        background-image: url("../images/house.webp");
        background-position: center;
        background-size: cover;
        filter: brightness(35%);
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        width: 100%;

        @media only screen and (max-width: $bp-medium){
            // For some reason this works for mobile, but center does not
            background-position: top;
        }
    }

    &__info {
        align-items: center;
        color: $color-white;
        display: flex;
        flex-direction: column;
        left: 50%;
        position: absolute;
        top: 57%;
        transform: translate(-50%, -50%);
        width: 80%;

        span {
            color: $color-primary;
        }

        &--title {
            font-size: 7rem;
            margin-bottom: 3rem;
            text-align: center;
            text-transform: uppercase;
        }

        &--summary {
            font-size: 2.6rem;
            font-weight: 400;
            margin-bottom: 3rem;
        }

        .button {
            border: 3px solid $color-primary;
            border-radius: 4rem;
            color: $color-white;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            padding: 2rem 3rem;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.2s;

            &:hover {
                background-color: $color-primary;
            }
        }
    }
}





//ABOUT US
.aboutus {
    align-items: center;
    background-color: $color-primary;
    display: flex;
    height: calc(100vh - #{$nav-height});
    justify-content: space-around;
    
    &__image {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 50%;
    }

    img {
        height: 25rem;
        width: 25rem;
    }

    &__text {
        color: $color-white;
        margin: 8rem;
        width: 50%;
    }

    &__title {
        font-size: 6rem;
        margin-bottom: 2rem;
    }

    &__description {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}





.contact {
    height: 100vh;
    background-color: $color-dark-gray;
}





.whiteBackground { background-color: $color-white; }
.redText { color: $color-primary; }
.whiteText { color: $color-white; }
.navAnimationTop{ transform: rotate(-45deg) translate(-1.375rem); }
.navAnimationMid { opacity: 0; }
.navAnimationBot { transform: rotate(45deg) translate(-1.375rem); }
.visible { 
    height: 10vh;
    opacity: 1;
    visibility: visible;
}
.invisibleElement {
    display: none;
}